<article class="article article-type-<%= post.layout %> <%= index ? 'article-index' : 'article-single' %> <%= is_page() ? 'page' : ''%>">
    <header class="article-header">
        <% if (post.link){ %>
            <h1 class="title">
                <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
            </h1>
        <% } else if (post.title){ %>
            <% if (index){ %>
                <h1 class="title">
                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                </h1>
            <% } else { %>
                <h1 class="title">
                    <%= post.title %>
                </h1>
            <% } %>
        <% } %>
    </header>
    <div class="article-inner">
        <div class="article-meta">
            <div class="article-date">
                <i class="icon calendar" title="发布时间"></i>
                <time datetime="<%= date_xml(post.date) %>"><%= post.date.format('YYYY-MM-DD') %>
                    <small><%= post.date.format('HH:mm') %></small>
                </time>
            </div>
            <% if (post.categories && post.categories.length){ %>
                <div class="article-category">
                    <i class="icon book" title="文章分类"></i>
                    <%- list_categories(post.categories, {
                        show_count: false,
                        'class': 'article-category',
                        style: 'none',
                        separator: '►'
                    }) %>
                </div>
            <% } %>
            <% if (post.tags && post.tags.length){ %>
                <div class="article-tag">
                    <i class="icon tags" title="文章标签"></i>
                    <%- list_tags(post.tags, {
                        show_count: false,
                        style: 'none',
                        'class': 'article-tag',
                        separator: ', '
                    }) %>
                </div>
            <% } %>
        </div>
        <div class="article-entry">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <% if (theme.excerpt_link){ %>
                    <p class="article-more-link">
                        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                    </p>
                <% } %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>
    </div>
    <footer class="article-footer">
    </footer>
</article>
