<articl class="article article-type-<%= page.layout %>">
    <header class="article-header ui sticky">
        <% if (page.link){ %>
        <h1>
            <a href="<%- url_for(page.link) %>" target="_blank" itemprop="url"><%= page.title %></a>
        </h1>
        <% } else if (page.title){ %>
        <h1>
            <%= page.title %>
        </h1>
        <% } %>
    </header>
    <div class="article-inner">
        <div class="article-left-side">
            <div class="article-meta ui sticky">
                <div class="article-date rotate">
                </div>
                <% if (page.categories && page.categories.length){ %>
                <div class="article-category rotate">
                    <i class="icon book"></i>
                    <%- list_categories(page.categories, {
                        show_count: false,
                        'class': 'article-category',
                        style: 'none',
                        separator: '►'
                    }) %>
                </div>
                <% } %>
                <% if (page.tags && page.tags.length){ %>
                <div class="article-tag rotate">
                    <i class="icon tags"></i>
                    <%- list_tags(page.tags, {
                        show_count: false,
                        style: 'none',
                        'class': 'article-tag'
                    }) %>
                </div>
                <% } %>
            </div>
        </div>
        <% if (page.photos && page.photos.length){ %>
        <div class="article-gallery">
            <div class="article-gallery-photos">
                <% page.photos.forEach(function(photo, i){ %>
                <a class="article-gallery-img fancybox" href="<%- url_for(photo) %>" rel="gallery_<%= page._id %>">
                    <img src="<%- url_for(photo) %>" itemprop="image">
                </a>
                <% }) %>
            </div>
        </div>
        <% } %>
        <% if (page.link || page.title){ %>
        <% } %>
        <div class="article-entry">
            <% if (page.excerpt && false){ %>
            <%- page.excerpt %>
            <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
                <a href="<%- url_for(page.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
            <% } %>
            <% } else { %>
            <%- page.content %>
            <% } %>
        </div>
        <footer class="article-footer">
            <!--<a data-url="<%- page.permalink %>" data-id="<%= page._id %>"-->
            <!--class="article-share-link"><%= __('share') %></a>-->
            <% if (page.comments && config.disqus_shortname){ %>
            <a href="<%- page.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
            <% } %>
        </footer>
    </div>
</articl>

<% if (page.comments && config.disqus_shortname){ %>
<section id="comments">
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
    </div>
</section>
<% } %>