<div class="left-side">
    <div class="left-side-twitter">
        <%- partial('_partial/twitter-timeline') %>
    </div>
</div>
<div class="main-side">
    <% if (page && page.posts && page.posts.length > 0) { %>
        <% page.posts.each(function(post){ %>
            <%- partial('_partial/article', {post: post, index: true}) %>
        <% }) %>

        <% if (page.total > 1){ %>
            <nav class="page-nav">
                <%- paginator({
                    prev_text: '<i class="angle left icon"></i>',
                    next_text: '<i class="angle right icon"></i>',
                    escape: false
                }) %>
            </nav>
        <% } %>

    <% } else { %>
        <%- partial('_partial/article', {post: page, index: false}) %>
    <% } %>

</div>
<div class="right-side">
    <div class="right-side-assistance">
        <% if (site && site.data && site.data['right-side-assistance']) { %>
            <% for (var key in site.data['right-side-assistance']) { %>
                <% if (!site.data['right-side-assistance'].hasOwnProperty(key)) continue %>
                <% var item = site.data['right-side-assistance'][key] %>
                <a href="<%= item.href %>"><img src="<%= item.image %>" alt="<%= item.alt %>"></a>
            <% } %>
        <% } %>
    </div>
</div>