<!DOCTYPE html>
<html lang="zh-Hans">

<%- partial('_partial/html-head') %>

<body>
<div id="app">
    <%- partial('_partial/header-bar') %>

    <%- partial('_partial/site-header') %>

    <div class="site-body">
        <%- body %>
    </div>

    <%- partial('_partial/site-footer') %>

</div>
</body>
<%- partial('_partial/html-script') %>
<%- js('js/app') %>

</html>